

* {
  box-sizing: border-box;
  margin: 0.2;
  padding: 0;
}

.recipes {
  display: inline-table;
  border-radius: 20px;
  position: relative;
  min-height: 98%;
  width: 69.5%;
  overflow: auto;
  margin: auto;
  
}
#dark .recipes {
  background-color: #35334a;
  box-shadow: 5px 5px #1a1924;
  border: 2px solid #454260;
}
#light .recipes {
  background-color: #ded7fb;
  box-shadow: 5px 5px #e0e0e2;
  border: 2px solid #d1caec;
}

.recommended {
  border-radius: 20px;
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  min-height: 47.5%;
  width: 29.5%;
}
#dark .recommended {
  background-color: #35334a;
  box-shadow: 5px 5px #1a1924;
  border: 2px solid #454260;
}
#light .recommended {
  background-color: #ded7fb;
  box-shadow: 5px 5px #e0e0e2;
  border: 2px solid #d1caec;
}

.recommended h1 {
  position: relative;
  left: 1%;
}

.add {
  border-radius: 20px;
  position: fixed;
  right: 1%;
  top: 1%;
  height: 48.5%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 29%;
}
#dark .add {
  background-color: #35334a;
  box-shadow: 5px 5px #1a1924;
  border: 2px solid #454260;
}
#light .add {
  background-color: #ded7fb;
  box-shadow: 5px 5px #e0e0e2;
  border: 2px solid #d1caec;
}

.add h1 {
  position: relative;
  left: 1%;
}

.Header {
  margin-bottom: 5px;
  margin-left: 5px;
}
#dark .Header {
  color: #FFFFFF;
}
#light .Header {
  color: #000000;
}

.RecipeCard {
  border-radius: 5px;
  position: relative;
  width: 99%;
  min-height: 50px;
  margin-top: 10px;
  margin-left: 0.5%;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  border: none;
  font-size: large;
  padding: 18px;
  overflow:inherit;
}
#dark .RecipeCard{
  background-color: #3e8594;
}
#light .RecipeCard{
  background-color: #c7defa;
}

.RecipeCard li {
  margin-left: 15px;
}

#icon {
  float: right;
}

.active {
  overflow: auto;
}

#ingredient {
  display: flex;
}

#name {
  position: relative;
  width: 74%;
}

#amount {
  position: relative;
  width: 19%;
  text-align: right;
}

#delte {
  position: relative;
  margin-left: 1%;

}

.add input {
  margin-bottom: 5px;
  margin-left: 5px;
  border: none;
}
#dark .add input{
  background-color: #3d3c57;
  color: #FFFFFF;
}
#light .add input{
  background-color: #c9c2e4;
  color: #000000;
}

.add button {
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 109px;
}
#dark .add button{
  background-color: #3e8594;;
}
#light .add button{
  background-color: #c7defa;
}

.add textarea {
  width: 523px;
  min-height: 100px;
  background-color: #3d3c57;
  border: none;
  color: #FFFFFF;
}
#dark .add textarea{
  background-color: #3d3c57;
  color: #FFFFFF;
}
#light .add textarea{
  background-color: #c9c2e4;
  color: #000000;
}

.add button:hover {
  border: 3px solid lightskyblue;
}

#addTextarea{
  margin-bottom: 5px;
  margin-left: 5px;
}



@media (prefers-color-scheme: dark) {
  .recipes.dark-scheme {
    background-color: #35334a;
    box-shadow: 5px 5px #1a1924;
    border: 2px solid #454260;
  }
  .recommended.dark-scheme {
    background-color: #35334a;
    box-shadow: 5px 5px #1a1924;
    border: 2px solid #454260;
  }
}

@media (prefers-color-scheme: light) {
  .recipes.light-scheme {
    background-color: #ded7fb;
    box-shadow: 5px 5px #e0e0e2;
    border: 2px solid #d1caec;
  }
  .recommended.light-scheme {
    background-color: #ded7fb;
    box-shadow: 5px 5px #e0e0e2;
    border: 2px solid #d1caec;
  }
}