body{
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0.2;
  padding: 0;
}

.recipes {
  border: 2px solid black;
  display: inline-table;
  border-radius: 20px;
  position: relative;
  min-height: 98%;
  width: 69.5%;
  overflow: auto;
  margin: auto;
  background-color: #35334a;
  box-shadow: 5px 5px rgb(227, 227, 227);
}

.recomended {
  border: 2px solid black;
  box-shadow: 5px 5px rgb(227, 227, 227);
  border-radius: 20px;
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  min-height: 47.5%;
  width: 29.5%;
  background-color: #35334a;
}

.recomended h1 {
  position: relative;
  left: 1%;
}

.add {
  border: 2px solid black;
  box-shadow: 5px 5px rgb(227, 227, 227);
  background-color: #35334a;
  border-radius: 20px;
  position: fixed;
  right: 1%;
  top: 1%;
  height: 48.5%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 29%;
}

.add h1 {
  position: relative;
  left: 1%;
}

.Header {
  margin-bottom: 5px;
  margin-left: 5px;
  color: #FFFFFF;
}

.RecipeCard {
  border-radius: 5px;
  position: relative;
  background-color: #3e8594;
  width: 99%;
  height: 50px;
  margin-top: 10px;
  margin-left: 0.5%;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  border: none;
  font-size: large;
  padding: 18px;
  overflow: hidden;
}

.active {
  overflow: auto;
}

#ingredeant {
  display: flex;
}

#name {
  position: relative;
  width: 74%;
}

#amount {
  position: relative;
  width: 19%;
  text-align: right;
}

#delte {
  position: relative;
  margin-left: 1%;

}

.add input {
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #3d3c57;
  border: none;
  color: #FFFFFF;
}

.add button {
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #3e8594;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 109px;
}

.add textarea {
  width: 523px;
  min-height: 100px;
  background-color: #3d3c57;
  border: none;
  color: #FFFFFF;
}

.add button:hover {
  border: 3px solid lightskyblue;
}

#addTextarea{
  margin-bottom: 5px;
  margin-left: 5px;
}